---
import { type CollectionEntry, getCollection } from "astro:content";
import Date from "@components/Date.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import Hr from "@components/Hr.astro";

import "@styles/global.css";
import "@styles/post.css";
import Tag from "@components/Tag.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
type Props = { post: CollectionEntry<"blog"> };

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, pubDate, tags } = post.data;
const { Content } = await post.render();
---

<BlogLayout title=`Blog | ${slug}`>
  <button class="mb-2 mt-8 flex content-start" onclick="
  history.back()
  ">
    <svg xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
      ></path>
    </svg>
    <p>Go back</p>
  </button>
  <main id="main-content">
    <h2 transition:name={title}>
      {title}
    </h2>
    <Date date={pubDate} size="md" className="my-2" />
    <ul class="flex gap-2">
      {tags.map((tag) => <Tag tag={tag} />)}
    </ul>
    <Hr class="my-8" />
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
  </main>
</BlogLayout>
