---
import Card from "@components/Card.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

import "@styles/global.css";
import "@styles/post.css";
import type { Page } from "astro";

export async function getStaticPaths({ paginate }) {
  // Generate pages from our array of astronauts, with 2 to a page
  const posts: Array<CollectionEntry<"blog">> = await getCollection("blog");
  return paginate(posts, { pageSize: 4 });
}

type Props = { page: Page<CollectionEntry<"blog">> };

const { page } = Astro.props;
const { currentPage, start, end, total, size, lastPage } = page;
const { data: posts } = page;
const { current, next, prev } = page.url;
---

<BlogLayout title="Hilan's blog posts" activeNav="posts">
  <section class="mb-6 mt-8 flex flex-col gap-2">
    <p class="font-mono">Home > Posts (Page {currentPage}/{lastPage})</p>
    <h2>Posts</h2>
    <p class="italic">All the articles I've posted.</p>
  </section>
  <section>
    {
      posts.map((post) => {
        return <Card post={post} />;
      })
    }
  </section>
  <section class="mx-auto flex max-w-[12rem] content-center justify-between">
    <div class="flex">
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg>
      <a
        href={prev}
        class=`${prev === undefined ? "text-muted dark:text-muted": ""}`>Prev</a
      >
    </div>
    <div class="flex">
      <a
        href={next}
        class=`${next === undefined ? "text-muted dark:text-muted": ""}`>Next</a
      >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M6.707 17.707 12.414 12l-5.707-5.707-1.414 1.414L9.586 12 5.293 16.293z"
        ></path></svg
      >
    </div>
  </section>
</BlogLayout>
